<!DOCTYPE html>
<html>
  <%= favicon_link_tag 'favicon.ico' %>
<head>
<script src="epiceditor.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Politiwiki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
       <ul class="nav nav-tabs">
        <li><%= link_to "Politiwiki", root_path %></li>
        <li><%= link_to "Free", free_path %></li>
        <li><%= link_to "Premium", premium_path %></li>
        <li><%= link_to "Wikis", wikis_path %>
          <div class="pull-right user-info">
           <% if current_user %>
             Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
           <% else %>
             <%= link_to "Sign In", new_user_session_path %> or 
             <%= link_to "Sign Up", new_user_registration_path %>
           <% end %>
         </div>
      </ul>
      <% if flash[:notice] %>
      <% end %>
<%= yield %>
  </div>
</body>
</html>

